@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap");
@import url(https://uk.allfont.net/allfont.css?fonts=courier-new);

:root {
  font-family: "Courier New", arial;
  color: #243e16;
  --main-color: #243e16;
  --main-color-light: #4c7a34;
  --accent-color: #ffffff;
}

h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  max-width: 980px;
  margin: auto;
  background: #dfedd6;
}

header .logo {
  font-family: "Aguafina Script", cursive;
  color: #355723;
  font-size: 2rem;
  text-decoration: underline;
  display: block;
  position: relative;
  margin-left: 4%;
}

header .logo h1::before {
  content: "";
  background-image: url(../images/logo.png);
  background-size: 50px 60px;
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -55px;
}

header .logo p {
  color: var(--main-color);
  font-size: 14px;
  margin-top: -15%;
  margin-left: -10%;
}

header nav .menu {
  display: flex;
  padding: 0;
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

header .basket img {
  align-self: center;
  width: 60px;
  height: 60px;
}

header nav .menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main-color-light);
  padding: 10px 25px 16px 25px;
  cursor: pointer;
}

header nav .menu a:hover {
  background-color: var(--main-color);
  color: #ffffff;
}

main .green-line,
footer .green-line {
  margin-top: 0;
  min-height: 20px;
  background-color: var(--main-color);
}

main .banner {
  background-image: url(../images/background-tree.jpg);
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  min-height: 520px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

main .banner p {
  font-size: 1.5rem;
  color: var(--accent-color);
  text-shadow: 3px 5px 4px #000000;
  padding: 7% 40% 0 7%;
}

main .banner p:first-child {
  font-weight: bold;
}

main .banner p:nth-child(2) {
  padding-top: 4%;
}

main article .blog-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 1.2rem;
  padding: 20px 25px;
}
main article .blog-article img {
  margin: 3%;
  width: 300px;
  height: 200px;
  border: 1px solid var(--main-color);
}
main article div.blog-article img.plastic-marking {
  margin: 3%;
  width: 300px;
  height: 100px;
  border: 1px solid white;
}

h2 {
  font-weight: bold;
  font-size: 2.6rem;
  text-align: center;
  padding: 25px;
}
h3 {
  font-weight: bold;
  font-size: 1.6rem;
}

hr {
  height: 5px;
  border: 0;
  background-color: var(--main-color);
}

.shop {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}

.shop a {
  color: var(--main-color);
  text-align: center;
}

.shop img {
  width: 350px;
  height: 250px;
  border: 1px solid var(--main-color);
}

.contact-request {
  display: flex;
  justify-content: space-around;
}

nav.request-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  padding: 15px;
  margin-right: 30px;
}
input {
  width: 300px;
  height: 40px;
  font-size: 1.25rem;
  padding: 6px 0 4px 10px;
  border: 1px solid var(--main-color);
  background: #dfedd6;
  border-radius: 8px;
  font-family: "Courier New", arial;
  margin-bottom: 20px;
}
textarea {
  font-size: 1.25rem;
  font-family: "Courier New", arial;
  width: 300px;
  height: 100px;
  border-radius: 8px;
}

input[type="submit"] {
  background-color: #72bb53;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  color: var(--main-color);
  margin-left: 75px;
  text-decoration: none;
  width: 150px;
  cursor: pointer;
  justify-self: center;
}

input[type="submit"]:hover {
  background-color: var(--main-color-light);
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  padding: 15px;
  margin-right: 30px;
}

.contact-details .logo {
  font-family: "Aguafina Script", cursive;
  color: #355723;
  font-size: 2rem;
  text-decoration: underline;
  display: block;
  position: relative;
  margin-left: -10px;
}

.contact-details h5::before {
  content: "";
  background-image: url(../images/logo.png);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -35px;
}

.contact-details p.location::before {
  content: "";
  background-image: url(../images/address-pointer.png);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -15px;
  margin-left: -45px;
}

p.telephone {
  padding-top: 25px;
}

.contact-details p.telephone::before {
  content: "";
  background-image: url(../images/telephone-icon.png);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -15px;
  margin-left: -45px;
}

.fb-instagram img {
  width: 30px;
  height: 30px;
  margin-top: 25px;
}

.map-fb-insta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -45px;
}

.map img {
  width: 300px;
  height: 200px;
}

@media (max-width: 560px) {
  main .banner p {
    font-size: 1rem;
    padding: 7% 20% 0 7%;
  }

  main article .blog-article {
    font-size: 1rem;
    padding: 15px 15px;
  }

  h2 {
    font-size: 1.8rem;
    padding: 25px;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .contact-request {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav.request-form {
    align-items: center;
    padding: 0;
    margin-right: 0;
  }

  .contact-details {
    align-items: flex-start;
    text-align: justify;
    padding: 0;
    margin-left: 15%;
  }

  h3 {
    text-align: center;
  }
}
@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .basket {
    align-self: flex-end;
    order: -1;
    position: absolute;
    top: 5%;
  }
  .shop {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 3% 0 3%;
  }
}

